.users {
   width: 50vw;
   position: absolute;
   top: 50%;
   left: 50%;
   right: auto;
   bottom: auto;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   border-radius: 15px;
   background: #d4cbcb;
   box-shadow: rgba(0 0 0 0.15) 0px 5px 15px;
   z-index: 1;

}

.users h1 {
   width: 50vw;
   text-align: center;
}

.inputs {
   width: 30vw;
   margin: 0 auto;
}

.inputs div {
   display: flex;
   gap: 20px;
}

.inputs div label {
   width: 100px;
   text-align: left;
}

.inputs div input,
.inputs div select {
   width: 300px;
   margin-bottom: 10px;
}

.adduserbtn {
   display: flex;
   gap: 30px;
   width: 20vw;
   margin: 20px auto;
}

.adduserbtn div {
   width: 100px;
   height: 30px;
   background-color: #1677e5;
   text-align: center;
   font-size: 20px;
}

.adduserbtn div button {
   all: unset
}

.permission div input {
   width: 10px;
}

.permission div label {
   width: 40px;
}

@media (max-width:550px) {
   .users{
      width: 90vw;
   }
   .users h1 {
      font-size: 20px;
        text-align: center;
        width: 90vw;
   }
   .inputs{
      width: 71vw;
   }

.adduserbtn{

   width: 40vw;
}   

   .adduserbtn div {

      width: 60px;
   }

   .adduserbtn div button {
      all: unset;
      font-size: 13px;
   }

   .inputs div input,
   .inputs div select {
      font-size: 10px;
      width: 200px;

   }

   .inputs div label {
      font-size: 10px;
      width: 50px;
      text-align: left;
   }
   .permission div input {
      width: 10px;
   }

   .permission div label {
      font-size: 10px;
      width: 20px;
   }
}